<h2 class="text-center"><%= t('.forgot_your_password') %></h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
<div style="margin-left: 460px", class="col-5">
  <%= render "devise/shared/error_messages", resource: resource %>
  </div>

  <div class="field offset-5">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control form-control-sm", style:"width: 250px" %>
  </div>

  <div class="actions pnew">
    <%= f.submit t('.send_me_reset_password_instructions'), class: 'btn btn-primary btn-sm' %>
  </div>
<% end %>
<div class="field offset-5 col-2">
<%= render "devise/shared/links" %>
 </div>
