<h4 class="text-center">アカウントの有効化について数分以内にメールでご連絡します。</h4>
<h1 class="text-center"><%= t('.sign_in') %></h1>
<div class="offset-5">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
</div>
<div class="container">
  <div class="row">

  <div class="offset-3 col-2">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class:"form-control form-control-sm", style:"width: 640px" %>
  </div>

  <div class="field offset-3">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class:"form-control form-control-sm", style:"width: 640px" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field offset-3">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions snew text-center">
    <%= f.submit t('.sign_in'), class: 'btn btn-primary btn-md', style:"width: 100px"  %>
  </div>
<% end %>
<div class="offset-3">
<%= render "devise/shared/links"%>
</div>
</div>
</div>


