<h1 class="text-center">記事一覧</h1>

<div class="col-10 offset-1">
  <div class="text-center py-3">
    <%= link_to "記事新規作成", new_users_article_path, class: "btn btn-primary text-white col-6" %> 
  </div>
  <div class="col-10 offset-1">
    <table class="table text-center align-middle">
      <thead>
        <tr>
          <th><%= "詳細" %></th>
          <th><%= "タイトル" %></th>
          <th><%= "内容" %></th>
          <th><%= "画像" %></th>
          <th><%= "編集・削除" %></th>
        </tr>
      </thead>
      <tbody>
        <% @articles.each do |a| %>
          <tr>
            <td><%= link_to "詳細", users_article_path(a.id), class: "btn btn-primary text-white" %></td>
            <td><%= a.title %></td>
            <td><%= a.content %></td>
            <td><%= image_tag a.image.url if a.image?%></td>
            <td>
              <%= link_to "編集", edit_users_article_path(a.id), class: "btn btn-success text-white" %>
              <%= link_to "削除", users_article_path(a.id), method: :delete, class: "btn btn-danger text-white ml-1" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div> 